<header>
  <div>
    <a href="/">Home</a>
    <a href="/dashboard">Dashboard</a>
    <a href="/login">Login</a>
    <a href="/logout">Logout</a></div>
  <h1>Create</h1>
</header>
<a href="/dashboard">Back</a>
<form id="formDiv">
  <label for="titleInput">Post title</label>
  <input type="text" name="titleInput" id="titleInput" />
  <label for="bodyInput">Post body</label>
  <textarea name="bodyInput" id="bodyInput" cols="30" rows="10"></textarea>
  <button id="formSubmit"> Post</button>

</form>

<script src="./js/create.js"></script>