<header>
    <div>  <a href="/">Home</a>
    <a href="/dashboard">Dashboard</a>
    <a href="/login">Login</a>
    <a href="/logout">Logout</a></div>
    <h1>Dashboard</h1>
</header>

<h1>Hello {{username}} Welcome to your dashboard</h1>
<button id="create-post">Create New Post</button>
<div>
    {{#if Posts}}
<p>you have posts</p>



{{/if}}
<p>You have no posts</p>
</div>

<script src="./js/dashboard.js"></script>
