<header>
    <div>  <a href="/">Home</a>
    <a href="/dashboard">Dashboard</a>
    <a href="/login">Login</a>
    <a href="/logout">Logout</a></div>
    <h1>Dashboard</h1>
</header>

<h1>Hello {{username}}</h1>

