    <header>
    <div>  <a href="/">Home</a>
    <a href="/dashboard">Dashboard</a>
    <a href="/login">Login</a>
    <a href="/logout">Logout</a></div>
    <h1>The Tech Blog</h1>
</header>
<div>
   {{#each postData}}
   <div>
    <div class = "card-header">
        <h1>{{header}}</h1>
        <p>{{user.username}}</p>
         <p>{{user.createdAt}}</p>
    </div>
    <div class = "card-body">
        <p>{{body}}</p>
    </div>
   </div>
   {{/each}}
</div>