<div class="sign-in-card">
    <h1 class="login-text">username</h1>
    <input id="usernameInput" type="text">
    <h1 class="login-text">password</h1>
    <input id="passwordInput" type="text">
    <br>
    <button id="signUpBtn">Sign in</button>

</div>
<script src="./js/login.js"></script>