    <header>
    <div>  <a href="/">Home</a>
    <a href="/dashboard">Dashboard</a>
    <a href="/login">Login</a>
    <a href="/logout">Logout</a></div>
    <h1>The Tech Blog</h1>
</header>
<div class="sign-in-card">
    <h1 class="login-text">username</h1>
    <input id="usernameInput" type="text">
    <h1 class="login-text">password</h1>
    <input id="passwordInput" type="text">
    <br>
    <button id="signUpBtn">Sign in</button>
</div>
<div class="sign-up-question">
    <h2>Don't have an account? </h2>
    <a href="/signUp"><button>Sign up now!</button></a>
</div>
<script src="./js/login.js"></script>