  <header>
    <div>  <a href="/">Home</a>
    <a href="/dashboard">Dashboard</a>
    <a href="/login">Login</a>
    <a href="/logout">Logout</a></div>
    <h1>Sign Up!</h1>
</header>
<div class="sign-up-card">
    <h1 class="login-text">username</h1>
    <input id="usernameInput" type="text">
    <h1 class="login-text">password</h1>
    <input id="passwordInput" type="text">
    <br>
    <button id="signUpBtn">Sign Up</button>
</div>
<script src="./js/signUp.js"></script>